<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Stacked Column 100</h4>
    </div><!-- end card header -->

    <div class="card-body">
      <apx-chart [series]="StackedColumn100Chart.series" [chart]="StackedColumn100Chart.chart"
      [dataLabels]="StackedColumn100Chart.dataLabels" [plotOptions]="StackedColumn100Chart.plotOptions"
      [responsive]="StackedColumn100Chart.responsive" [xaxis]="StackedColumn100Chart.xaxis"
      [legend]="StackedColumn100Chart.legend" [fill]="StackedColumn100Chart.fill" [colors]="StackedColumn100Chart.colors" dir="ltr"></apx-chart>
    </div><!-- end card-body -->
</div><!-- end card -->