<div class="row">


    <div class="col-xl-6">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h4 class="card-title mb-0">EVOLUTION MENSUELLE DE LA CONSOMMATION D'ENERGIE</h4>
                <div class="flex-shrink-0 ms-auto">
            <!-- Boutons pour télécharger le rapport -->
            <div class="dropdown card-header-dropdown" ngbDropdown>
              <a class="text-reset dropdown-btn arrow-none" href="javascript: void(0);"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                ngbDropdownToggle>
                <span class="text-muted"><i class="ri-file-list-3-line align-bottom"></i> Telecharger</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <button type="button" class="btn btn-success btn-sm" (click)="exportToExcel()">
                  <i class="ri-file-excel-line align-bottom"></i> Telecharger en Excel
                </button>  <br><br>
                <button type="button" class="btn btn-danger btn-sm" (click)="exportToPDF()">
                  <i class="ri-file-pdf-line align-bottom"></i> Telecharger en PDF
                </button>  <br><br>
              </div>
            </div>
          </div>
            </div>
            <div class="card-body">
                <div echarts [options]="BasicBarChart" (chartClick)="onBarClick($event)" class="demo-chart" style="  height: 400px;"></div>
            </div>
        </div>
    </div>

    <!-- Carte contenant les détails par mois -->
    <div class="col-xl-6" *ngIf="selectedMonth && detailConsoList.length > 0">
        <div class="card mt-4" style="max-height: 400px; overflow-y: auto;">
          <div class="card-header d-flex justify-content-between">
            <h4 class="card-title mb-0">DÉTAILS PAR MOIS : {{ selectedMonth }}</h4>
            <div class="flex-shrink-0 ms-auto">
              <div class="dropdown card-header-dropdown" ngbDropdown>
                <a class="text-reset dropdown-btn arrow-none" href="javascript:void(0);" ngbDropdownToggle>
                  <span class="text-muted"><i class="ri-file-list-3-line align-bottom"></i> Télécharger</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <button type="button" class="btn btn-success btn-sm" (click)="exportToExcelMonth()">
                    <i class="ri-file-excel-line align-bottom"></i> Telecharger en Excel
                  </button><br><br>
                  <button type="button" class="btn btn-danger btn-sm" (click)="exportToPDFMonth()">
                    <i class="ri-file-pdf-line align-bottom"></i> Telecharger en PDF
                  </button>
                </div>
              </div>
            </div>
          </div>
      
          <div class="card-body">
            <table class="table table-nowrap table-hover">
              <thead class="table-light">
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Direction</th>
                  <th scope="col">Consommation (kWh)</th>
                  <th scope="col">% du Mois</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of detailConsoList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                  <td scope="col">{{ i + 1 }}</td>
                  <td>{{ detail[1] }}</td>
                  <td>{{ detail[2] }}</td>
                  <td>{{ calculateMonthlyPercentage(detail[2], selectedMonth) }}%</td>
                </tr>
              </tbody>
              <tfoot class="table-light">
                <tr>
                  <td colspan="2"><strong>Total</strong></td>
                  <td><strong>{{ getTotalMonthlyConso(selectedMonth) }}</strong></td>
                  <td><strong>100%</strong></td>
                </tr>
              </tfoot>
              
            </table>

             <!-- 🔹 Pagination -->
            <pagination-controls
            (pageChange)="onPageChange($event)"
            previousLabel="←"
            nextLabel="→"
            [maxSize]="5"
            [responsive]="true"
            [directionLinks]="true"
            [autoHide]="false"
            class="my-pagination">
          </pagination-controls>
          </div>
        </div>
      </div>
      

       

</div>