<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Graphiques à plusieurs axes Y</h4>
    </div><!-- end card header -->

    <div class="card-body">
      <apx-chart [series]="multipleYAxisChart.series" [chart]="multipleYAxisChart.chart"
      [xaxis]="multipleYAxisChart.xaxis" [markers]="multipleYAxisChart.markers"
      [stroke]="multipleYAxisChart.stroke" [yaxis]="multipleYAxisChart.yaxis"
      [dataLabels]="multipleYAxisChart.dataLabels" [title]="multipleYAxisChart.title"
      [fill]="multipleYAxisChart.fill" [tooltip]="multipleYAxisChart.tooltip"
      [legend]="multipleYAxisChart.legend" [colors]="multipleYAxisChart.colors" dir="ltr"></apx-chart>
    </div><!-- end card-body -->
</div><!-- end card -->