<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Graphiques à colonnes de base</h4>
    </div><!-- end card header -->

    <div class="card-body">
      <apx-chart [series]="basicChart.series" [chart]="basicChart.chart" [dataLabels]="basicChart.dataLabels"
      [plotOptions]="basicChart.plotOptions" [yaxis]="basicChart.yaxis" [legend]="basicChart.legend"
      [fill]="basicChart.fill" [stroke]="basicChart.stroke" [tooltip]="basicChart.tooltip"
      [xaxis]="basicChart.xaxis" [colors]="basicChart.colors" dir="ltr"></apx-chart>
    </div><!-- end card-body -->
</div><!-- end card -->