            
                <div class="col-xl-6">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">ABONNES PAR DIRECTION</h4>
                        <div class="flex-shrink-0 ms-auto">
                            <div class="dropdown card-header-dropdown" ngbDropdown>
                            <a class="text-reset dropdown-btn arrow-none" href="javascript: void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                ngbDropdownToggle>
                                <span class="text-muted"><i class="ri-file-list-3-line align-bottom"></i> Télécharger</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <button type="button" class="btn btn-success btn-sm" (click)="exportToExcel()">
                                <i class="ri-file-excel-line align-bottom"></i> Excel
                                </button><br>
                                <button type="button" class="btn btn-danger btn-sm" (click)="exportToPDF()">
                                <i class="ri-file-pdf-line align-bottom"></i> PDF
                                </button>
                                <button type="button" class="btn btn-info btn-sm" (click)="downloadChartImageUsingHtml2Canvas()">
                                <i class="ri-hd-fill"></i> Image
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>

                        <div *ngIf="isLoading" class="text-center p-3">Chargement...</div>
                        <div *ngIf="hasError" class="text-danger p-3">Erreur de chargement du graphique.</div>

                        <div class="card-body">
                        <div *ngIf="SalesCategoryChart" id="chart_dash"> <!-- ID déplacé ici pour html2canvas -->
                            <apx-chart class="apex-charts"
                                    [series]="SalesCategoryChart.series"
                                    [labels]="SalesCategoryChart.labels"
                                    [chart]="SalesCategoryChart.chart"
                                    [legend]="SalesCategoryChart.legend"
                                    [stroke]="SalesCategoryChart.stroke"
                                    [dataLabels]="SalesCategoryChart.dataLabels"
                                    [colors]="SalesCategoryChart.colors">
                            </apx-chart>
                        </div>
                        </div>
                    </div>
                    </div>
 <!-- .col-->

                <!-- Carte contenant les détails par région -->
                <div class="col-xl-6"> 
                    <div class="card mt-4" style="height: 400px;">
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="card-title mb-0">DETAILS PAR DIRECTION : {{ selectedRegion }}</h4>
                            <div class="flex-shrink-0 ms-auto">
                                    <!-- Boutons pour télécharger le rapport par direction -->
                                    <div class="dropdown card-header-dropdown" ngbDropdown>
                                    <a class="text-reset dropdown-btn arrow-none" href="javascript: void(0);"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        ngbDropdownToggle>
                                        <span class="text-muted"><i class="ri-file-list-3-line align-bottom"></i> Telecharger</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                        <button type="button" class="btn btn-success btn-sm" (click)="exportToExcelRegion()">
                                        <i class="ri-file-excel-line align-bottom"></i> Télécharger en Excel
                                        </button> <br>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="exportToPDFRegion()">
                                        <i class="ri-file-pdf-line align-bottom"></i> Télécharger en PDF
                                        </button>
                                    </div>
                                    </div>
                            </div>    
                        </div>  
                            
                        <div class="card-body">
                            <div *ngIf="selectedRegion">
                            <table *ngIf="regionDetails[selectedRegion]" class="table table-nowrap">
                                <thead class="table-light ">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Localité</th>
                                    <th scope="col">Abonnés</th>
                                    <th scope="col">Pourcentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let detail of regionDetails[selectedRegion]; let i = index">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{ detail[0] }}</td>
                                    <td>{{ detail[1] }}</td>
                                    <td>{{ calculatePercentage(detail[1]) }}%</td> <!-- Affichage du pourcentage -->
                                </tr>
                                </tbody>
                                <tfoot class="table-light">
                                <tr>
                                    <td colspan="2"><strong>Total</strong></td>
                                    <td><strong>{{ getTotalAbonnes(selectedRegion) }}</strong></td> <!-- Total des abonnés -->
                                    <td><strong>{{ calculatePercentage(getTotalAbonnes(selectedRegion)) }}%</strong></td> <!-- Total des pourcentages -->
                                </tr>
                                </tfoot>
                            </table>
                            </div>
                        </div>
                        </div>  
                    </div>
