<div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header align-results-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">STATISTIQUES GENERALES DE L'ENERGIE PAR SEGMENT</h4>
            <div class="flex-shrink-0 ms-auto">
              <div class="d-flex flex-wrap gap-2 align-items-center ms-auto">
                <input type="date" class="form-control form-control-sm" [(ngModel)]="startDate" style="width: 140px;">
                <input type="date" class="form-control form-control-sm" [(ngModel)]="endDate" style="width: 140px;">
                <button class="btn btn-outline-success waves-effect waves-light btn-sm " (click)="fetchEnergieStats()">Valider</button>
  
                <!-- Boutons pour télécharger le rapport -->
              <div class="dropdown card-header-dropdown" ngbDropdown>
                <a class="text-reset dropdown-btn arrow-none" href="javascript: void(0);"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   ngbDropdownToggle>
                  <span class="text-muted"><i class="ri-file-list-3-line align-bottom"></i> Telecharger</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <button type="button" class="btn btn-success btn-sm" (click)="exportToExcel()">
                    <i class="ri-file-excel-line align-bottom"></i> Telecharger en Excel
                  </button>
                  <br><br>
                  <button type="button" class="btn btn-danger btn-sm" (click)="exportToPDF()">
                    <i class="ri-file-pdf-line align-bottom"></i> Telecharger en PDF
                  </button>
                </div>
                
              </div> 
              </div>
              
            </div>
        </div><!-- end card header -->
      
        <div *ngIf="loading">Chargement...</div>
        <div *ngIf="errorMessage">{{ errorMessage }}</div>
      
        <div class="card-body">
          <div *ngIf="abonnements && abonnements.length > 0">
            <table class="table table-nowrap">
              <thead class="table-light">
                <tr>
                  <th class="center-text">N°</th>
                  <th class="center-text">Segment</th>
                  <th class="center-text">Total QWH produit</th>
                  <th class="center-text">Total QWH livrée</th>
                  <th class="center-text">Total QWH Consommée</th>
                  <th class="center-text">Total QWH facturée</th>
                  <th class="center-text">Total QWH redevance</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let abonne of abonnements | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index" >
                    <td class="center-text">{{ i + 1 }}</td>  
                    <td class="center-text">{{ abonne[0] }}</td>
                    <td class="center-text">{{ abonne[1] }}</td>
                    <td class="center-text">{{ abonne[2] }}</td>
                    <td class="center-text">{{ abonne[3] }}</td>
                    <td class="center-text">{{ abonne[4] }}</td>
                    <td class="center-text">{{ abonne[5] }}</td>       
                  </tr>
              </tbody>
            </table>

            <!-- ✅ Contrôles de pagination -->
          <pagination-controls
          (pageChange)="onPageChange($event)"
          previousLabel="←"
          nextLabel="→"
          [maxSize]="5"
          [responsive]="true"
          [directionLinks]="true"
          [autoHide]="false"
          class="my-pagination">
        </pagination-controls>

          </div>
        </div>
      </div> <!-- .card-->
  
  
    </div>
  </div>