<div class="container">
    <h2>Liste des Abonnés</h2>
  
    <div *ngIf="loading">Chargement...</div>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  
    <table *ngIf="!loading && !errorMessage" class="table">
      <thead>
        <tr>
          <th>Identifiant</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Statut</th>
          <th>Type</th>
          <th>Segment</th>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let abonne of abonnes | slice:0:15">
            <td>{{ abonne.code_abonne }}</td>
            <td>{{ abonne.nom_abonne }}</td>
            <td>{{ abonne.prenom_abonne }}</td>
            <td>{{ abonne.statut_abonne }}</td>
            <td>{{ abonne.type_abonne }}</td>
            <td>{{ abonne.segment_abonne }}</td>
            <!-- Ajoutez d'autres colonnes selon vos besoins -->
          </tr>
      </tbody>
    </table>
  </div>
  