<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4 class="card-title mb-0">REPARTITION DE LA QUANTITE DE KwH</h4>
    <div class="flex-shrink-0 ms-auto">
      <!-- Boutons pour télécharger le rapport -->
      <div class="dropdown card-header-dropdown" ngbDropdown>
        <a class="text-reset dropdown-btn arrow-none" href="javascript: void(0);"
           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           ngbDropdownToggle>
          <span class="text-muted"><i class="ri-file-list-3-line align-bottom"></i> Telecharger</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <button type="button" class="btn btn-success btn-sm" (click)="exportToExcel()">
            <i class="ri-file-excel-line align-bottom"></i>Telecharger en Excel
          </button>  <br><br>
      
          <button type="button" class="btn btn-danger btn-sm" (click)="exportToPDF()">
            <i class="ri-file-pdf-line align-bottom"></i>Telecharger en PDF
          </button>  <br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div echarts [options]="StackedHorizontalBarChart" class="demo-chart"></div>
  </div>
</div>
<!-- end card -->
